.leftSide {
  background-color: #f8f1eb;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.leftSideTitles {
  color: var(--orange-color);

  display: block;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 12px;
}
.leftSideTitleOne {
  margin: 57px 0 16px 0;
}
.leftSideTitleTwo {
  margin: 25px 0 16px 0;
}
.leftSideWrappers {
  margin-right: 8%;
}

/* tablet version */

@media screen and (max-width: 1250px) {
  .leftSide {
    align-items: center;
  }
  .leftSideWrappers {
    margin-right: 0;
  }
}
