:root {
  --formBorder-color: #e9d6c5;

  --b1-color: #f8f1eb;
  --grey1-color: #333;
  --grey3-color: #828282;
  --grey4-color: #bdbdbd;
  --grey5-color: #e0e0e0;
  --grey6-color: #f2f2f2;
  --inputBorder-color: #e0e0e0;
  --orange-color: #dc624e;

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* PLACEHOLDER */
::placeholder {
  color: var(--grey4-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey4-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey4-color);
}

.positionAbsolute {
  position: absolute;
}
.positionRelative {
  position: relative;
}
.widthtwenty {
  width: 20%;
}
.widthFifty {
  width: calc(50% - 8px);
}

.widthHundred {
  width: 100%;
}

.gap {
  margin-right: 16px;
}
